<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rainfall Chart</title>

    {% include 'base/css.html' %}
    {% include 'base/bootstrap_defaults.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class='container'>
      {% block content %}
      {% endblock content %}
      {% include 'base/js.html' %}
      <script>
        $(document).ready(function(){
          {% block jquery %}{% endblock %}
        })
      </script>
    </div>
  </body>
</html>